<launch>
 <group ns="plain_map">
  <node name="map_server" pkg="map_server" type="map_server" args="$(find global_path_planner)/map_data/plain_map.yaml" >
  </node>
 </group>
 <group ns="region_map">
  <node name="map_server" pkg="map_server" type="map_server" args="$(find global_path_planner)/map_data/region_final.yaml" >
  </node>
 </group>
<group ns="global_map">
  <node name="map_server" pkg="map_server" type="map_server" args="$(find global_path_planner)/map_data/global_map.yaml" >
  </node>
 </group>
  <node name="Object_detection" pkg="Object_detection"  type="Object_detection" respawn="true" />
  <node name="region_state" pkg="global_path_planner"  type="region_state" respawn="true" args="final" />
  <node name="traffic_state" pkg="global_path_planner"  type="traffic_state" respawn="true"/>
  <node name="zoom_state" pkg="global_path_planner"  type="zoom_state" respawn="true"/>
</launch>
